<style>
#announcement{padding: 10px; background: #cbf4c9;border-radius: 2px;margin-bottom: 10px;}
#announcement-icon{*width: 20px;height: 20px;position: absolute;*}
#announcement-title{margin-left: 30px;font-size: 15px;margin-top: -5px;font-weight: 500;color: #0e6245;}
#announcement-description{margin-left: 30px;font-size: 14px;line-height: 20px;color: #0e6245;}
</style>
<!--
<div id="announcement">
<div><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/twitter/259/loudspeaker_1f4e2.png"  id="announcement-icon" ></div>
<div>
<div id="announcement-title">New Ebook Announcement !</div>
<div id="announcement-description">I'm writing a short ebook titled 'Zero To PM - Breaking into Product Management the right way!' to help product enthusiasts with the foundational knowledge and tips to break into product.<a class='link-in-post' target="_blank" href="/zero-to-pm-the-book">Know more here.</a></div>
</div></div>
-->
<div id="announcement">
<div><img src="https://abs-0.twimg.com/emoji/v2/svg/1f680.svg" id="announcement-icon"></div>
<div>
<div id="announcement-title">New Ebook Announcement !</div>
<div id="announcement-description">Pre-orders for the ebook - <b>Zero To PM : A handy guide for aspiring product managers</b> - are now open!<br>
<a class="link-in-post" target="_blank" href="https://zerotopm.info/ebook">Pre-Order Now</a></div>
</div></div>