<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <link href="{{site.url}}{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.description %}	 
    <meta content="{{page.description}}" name="description"></meta>
    <meta property="og:description" content="{{page.description}}">
    {% else %}
     <meta content="{{site.description}}" name="description"></meta>
     <meta property="og:description" content="{{site.description}}">
    {% endif %}
    {% if page.image %}	 
    <meta itemprop="image" content="{{site.url}}{{site.baseurl}}{{ page.image }}" />
    <meta property="og:image" content="{{site.url}}{{site.baseurl}}{{ page.image }}"/>
    {% endif %}
    {% if page.twitterimage %}	 
    <meta itemprop="image" content="{{site.url}}{{site.baseurl}}{{ page.image }}" />
    <meta property="twitter:image" content="{{site.url}}{{site.baseurl}}{{ page.twitterimage }}"/>
    <meta property="twitter:card" content="summary_large_image">
    {% endif %}
    <meta content="{{site.owner}}" name="author"></meta>
    <meta content="Copyright 2020 {{site.owner}}. All rights reserved." name="copyright"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37799723-1"></script>
    <script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-37799723-1');
    </script>
</head>
